.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 35px;
  font-style: italic;
  color: var(--main-color);
  line-height: 1;
}

.subtitle {
  font-size: 20px;
}

.row {
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.time {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}